<div id="info">0</div>
<%#= render '/refinery/content_page' %>

<div id="skroll-container">
<!-- 	<section id="welcome-to-blackops">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="flex-container">
						<h1>WELCOME TO BLACKOPS</h1>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<section id="welcome-to-blackops" class="flex-container">
		<div class="welcome-text text-center">
			<h1>WELCOME TO BLACKOPS</h1>
			<small class="">SCROLL</small>
			<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
		</div>
	</section>

	<section id="athlete-driven"
		data-300="opacity:0;"
		data-800="opacity:1;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<img src="../assets/PAGE_2.png" class="img-responsive" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center"
					data-1000="opacity:0";
					data-1100="opacity:1;position:fixed;top:35%;left:0%;"
					data-1450=""
					data-1600="opacity:0;"
				>
					<h2>Athlete Driven</h2>
			     <p class="lead">The need exists for skis that blur the dimensions of freeride and freestyle and push the boundaries of what’s possible on snow. This is pure athlete-driven development based on the needs of our most progressive and hard-charging riders. No release date. Limited distribution. Constructions and designs that shmear the line between playful, progressive, and full send mode. You may have heard of it. You may have seen it. But this is not for everyone. This is BlackOps.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="blackops-118-1"
		data-2200="position:fixed;left:0;top:0;opacity:0;"
		data-2400="opacity:1;"
		data-3600="opacity:1;"
		data-4000="opacity:0;"

	>
	</section>

	<section id="blackops-118-2"
	  data-2400="position:fixed;left:0;top:0;opacity:0;"
	  data-2600="opacity:1;"
	  data-3800="opacity:1;"
	  data-4000="opacity:0;"
	>	
	</section>

	<section id="blackops-118-3"
	  data-2600="position:fixed;left:0;top:0;opacity:0;"
	  data-3000="opacity:1;"
	  data-3600="opacity:1;"
	  data-4000="opacity:0;"
	>	
		<div class=="container-fluid">
			<div class="row">
				<div class="col-md-3 col-md-offset-1"
          data-3000="position:fixed;left:0;top:30%;opacity:0;"
          data-3200="opacity:1;"
          data-3600="opacity:1;"
          data-4000="opacity:0;"
				>
					<h2>118.</h2>
		     <p class="lead">Three years of validation under the feet of P-White and C-Logan. Now available for public consumption. This is the full send mode tool-of-choice for backcountry booters or big mountain terrain. The ski that stays solid when all others call it quits. You can’t mash big ass drops on anything less. Stomp and smear. Float and bounce. Solid when needed. Playful all the time. Available in rawdawg OG proto graphic. For now.</p>
				</div>
			</div>
		</div>
	</section>


	<section id="blackops-98-1"
	  data-4000="position:fixed;left:0;top:0;opacity:0;"
	  data-4200="opacity:1;"
	  data-4600="100vh;opacity:1"
	  data-5000="0vh;opacity:0"
	>
		
	</section>


	<section id="blackops-98-2"
		data-4600="0vh;position:fixed;left:0;top:0;opacity:0;"
		data-5000="100vh;opacity:1;"
		data-5600="opacity:1;"
		data-6000="opacity:0;"
	>
		

	</section>


	<section id="blackops-98-3"
    data-5600="0vh:position:fixed;left:0;top:0;opacity:0;"
    data-6000="100vh;opacity:1"
    data-6600="opacity:1;"
    data-7000="opacity:0;"
	>
		

	</section>








<!-- 	<section id="blackops-98-1"></section>
	<section id="blackops-98-2"></section>
	<section id="blackops-98-3"></section>
	<section id="blackops-spin"></section>
	<section id="blackops-collection"></section>
	<section id="blackops-video"></section>
	<section id="blackops-instagram"></section>
	<section id="blackops-footer"></section> -->

</div>




<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>
