<div id="info">0</div>
<%= render '/refinery/content_page' %>

<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>
