<div id="info">0</div>
<%#= render '/refinery/content_page' %>

<div id="skroll-container">
<!-- 	<section id="welcome-to-blackops">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="flex-container">
						<h1>WELCOME TO BLACKOPS</h1>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<section id="welcome-to-blackops" class="flex-container">
		<div class="welcome-text text-center">
			<h1>WELCOME TO BLACKOPS</h1>
			<small class="">SCROLL</small>
			<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
		</div>
	</section>

	<section id="athlete-driven">
		
	</section>

	<section id="blackops-118"

	></section>
	<section id="blackops-98-1"></section>
	<section id="blackops-98-2"></section>
	<section id="blackops-98-3"></section>
	<section id="blackops-spin"></section>
	<section id="blackops-collection"></section>
	<section id="blackops-video"></section>
	<section id="blackops-instagram"></section>
	<section id="blackops-footer"></section>

</div>




<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>
