<!-- <div id="info">0</div> -->
<%#= render '/refinery/content_page' %>



	<section id="welcome-to-blackops" class="flex-container"
		data-300="opacity:1;position:fixed;top:0;left:0;"
		data-500="opacity:0;"
	>
		<div class="welcome-text text-center">
			<img src="../assets/BO_gifbuild_v2.gif" class="img-responsive" />
			<small class="">SCROLL TO NAVIGATE</small>
			<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
		</div>
	</section>

 	<section id="athlete-driven"
		data-300="position:fixed;left:0;top:-100px;opacity:0;"
		data-800="opacity:1;"
		data-1450="opacity:1;"
		data-1600="opacity:0;"
	> 
		<div class="container"

		>

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center"
					data-1000="opacity:0"
					data-1100="opacity:1;position:fixed;top:25%;left:0%;"
					data-1450=""
					data-1600="opacity:0;"
				>
					<h2>Athlete Driven</h2>
			     <p>The need exists for skis that blur the dimensions of freeride and freestyle and push the boundaries of what’s possible on snow. This is pure athlete-driven development based on the needs of our most progressive and hard-charging riders. No release date. Limited distribution. Constructions and designs that shmear the line between playful, progressive, and full send mode. You may have heard of it. You may have seen it. But this is not for everyone. This is BlackOps.</p>
				</div>
			</div>
		</div>
	</section>



	<section id="blackops-118-1"
		data-2200="position:fixed;left:0;top:0;opacity:0;"
		data-2400="opacity:1;"
		data-3600="opacity:1;"
		data-4000="opacity:0;"

	>
	</section>

	<section id="blackops-118-2"
	  data-2400="position:fixed;left:0;top:0;opacity:0;"
	  data-2600="opacity:1;"
	  data-3800="opacity:1;"
	  data-4000="opacity:0;"
	>	
	</section>

	<section id="blackops-118-3"
	  data-2600="position:fixed;left:0;top:0;opacity:0;"
	  data-3000="opacity:1;"
	  data-3600="opacity:1;"
	  data-4000="opacity:0;"
	>	
		<div class=="container-fluid">
			<div class="row">
				<div id="text-118" class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
          data-3000="position:fixed;left:0;opacity:0;"
          data-3200="opacity:1;"
          data-3600="opacity:1;"
          data-4000="opacity:0;"
				>
					<h2>118</h2>
		     <p>Three years of validation under the feet of P-White and C-Logan. Now available for public consumption. This is the full send mode tool-of-choice for backcountry booters or big mountain terrain. The ski that stays solid when all others call it quits. You can’t mash big ass drops on anything less. Stomp and smear. Float and bounce. Solid when needed. Playful all the time. Available in rawdawg OG proto graphic. For now.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="blackops-98-1"
	  data-4000="position:fixed;left:0;top:0;opacity:0;"
	  data-4200="opacity:1;"
	  data-4600="100vh;opacity:1"
	  data-5000="0vh;opacity:0"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
				data-4100="position:fixed;left:0;top:35%;opacity:0;"
				data-4300="opacity:1;"
				data-4800="opacity:1;"
				data-5000="opacity:0;"

				>
					<h2>SUPER TOP SECRET.</h2> 
					<p>Located in the shadow of the Wasatch Mountains in downtown SLC, UT, the cutting edge design crew at Super Top Secret have been collaborating with Park and Darhk to bring the boys’ unique graphic vision to life on snow.</p></div>
			</div>
		</div>
	</section>

	<section id="blackops-98-2"
		data-4600="position:fixed;left:0;top:0;opacity:0;"
		data-5000="opacity:1;"
		data-5600="opacity:1;"
		data-6000="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
				data-5200="position:fixed;left:0;top:45%;opacity:0;"
				data-5600="opacity:1;"
				
				data-6000="opacity:0;"
				>
					<p>Low key.</p> 
				</div>
			</div>
		</div>

	</section>


	<section id="blackops-98-3"
    data-5600="position:fixed;left:0;top:0;opacity:0;"
    data-6000="100vh;opacity:1"
    data-7600="opacity:1;"
    data-8000="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
					data-6200="position:fixed;left:0;top:45%;opacity:0;"
					data-6600="opacity:1;"
					data-7000="opacity:0;"
				>
					<p>Layered.</p> 
				</div>
			</div>
		</div>
	</section>

	<section id="blackops-98-4"
		data-7600="position:fixed;left:0;top:0;opacity:0;"
		data-8000="opacity:1;"
		data-8600="opacity:1;"
		data-9000="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
			<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
			data-8000="opacity:0;position:fixed;left:0;top:49%;"
			data-8200="opacity:1;"
			data-8500="opacity:1;"
			data-9000="opacity:0;"

			>
					<p>Like a dark forest spirit walk. We didn’t want anything too flashy – this is BlackOps.”  
					</p>
				</div>
			</div>
		</div>
	</section>



	<section id="blackops-98-5"
		data-8600="position:fixed;left:0;top:0;opacity:0;"
		data-9000="opacity:1;"
		data-9600="opacity:1;"
		data-10000="opacity:0;"
	>

	<div class="container-fluid">
			<div class="row">
				<div id="text-98" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"
					data-9200="opacity:0;position:fixed;left:0;"
					data-9600="opacity:1;"
					data-9800="opacity:1;"
					data-10000="opacity:0;"

				>
					<h2 class="text-center">98</h2>
<p class="text-center">The perfect platform. A progressive all-mountain gunner. Available in extremely limited quantities for 2018, this is a highly-functioning sociopath of a ski that morphs into whatever you need it to be. Stomp and smear. Arc and carve. Boost and blast. Grease your ‘stache. This is the full send mode do-it-all ski for the likes of C-Logan, P-White, and JPV. A legit quiver-killing weapon of one. Just step in and give ‘er hell.</p>
				</div>
				
			</div>
		</div>
	</section>


	<section id="blackops-collection-1"
		data-10000="position:fixed;left:0;top:0;opacity:0;"
		data-10300="opacity:1;"
		data-13000="opacity:1;"
		data-13200="opacity:0;"
	></section>
	
	<section id="blackops-collection-2"
		data-11000="position:fixed;left:0;top:0;opacity:0;"
		data-11300="opacity:1;"
		data-13000="opacity:1;"
		data-13200="opacity:0;"
	></section>
	
	<section id="blackops-collection-3"
		data-12000="position:fixed;left:0;top:0;opacity:0;"
		data-12300="opacity:1;"
		data-14800="opacity:1;"
		data-15000="opacity:0;"
	></section>

	<section id="buy-blackops"
	data-12300="position:fixed;left:0;bottom:0;opacity:0;z-index:11002;"
	data-12500="opacity:1;"
	data-14800="opacity:1;"
	data-15000="opacity:0;z-index:10999;"
	>
	<div class="container" >
<!-- 		<div class="row" style="border:1px solid red;position:fixed;bottom:50px;left:0;width:100%;">
			

		</div> -->
		<div class="" id="store-links" style=""

		>
			<div class="col-md-12" >
				<h3 class="text-center">Available in these regions:</h3>
			</div>
			<div class="col-sm-4 col-md-4 text-center">
				<a href="/usa" target="_blank" class="btn btn-lg">USA</a>
			</div>
			<div class="col-sm-4 col-md-4 text-center">
				<a href="/canada" target="_blank" class="btn btn-lg">CANADA</a>
			</div>
			 <div class="col-sm-4 col-md-4 text-center">
				<a href="/europe" class="btn btn-lg">EUROPE</a>
			</div>
			<!--
			<div class="col-sm-6 col-md-3 text-center">
				<a href="#" class="btn btn-lg">JAPAN</a>
			</div> -->

		</div>
	</div>
		
	</section>

	<section id="parker-white-quote-1"
		data-15000="position:fixed;left:0;top:0;opacity:0;"
		data-15400="opacity:1;"
		data-17800="opacity:1;"
		data-18200="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4"
				  data-15400="opacity:0;position:fixed;left:0;top:50%;"
				  data-16100="opacity:1;"
				  data-16400="opacity:0;"
				>
					<p>“BlackOps is designed to make skiing everything from resort chop to deep backcountry pow way easier and way more fun.”</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4"
				  data-16400="opacity:0;position:fixed;left:0;top:50%;"
				  data-16800="opacity:1;"
				  data-17800="opacity:1;"
				  data-18000="opacity:0;"
				>
					<p>“The 118 feels strong. Like I can stomp and smash just as easily as float and bounce.  I can really go anywhere and do whatever I want on them.”</p>

					<h3 style="text-align:right;"
						data-17400="opacity:0;"
						data-17800="opacity:1;"
						data-18200="opacity:0;"
						>&mdash; P. White</h3>
				</div>
			</div>
		</div>
	</section>

	<section id="chris-logan-quote-1"
		data-18000="position:fixed;left:0;top:0;opacity:0;"
		data-18400="opacity:1;"
		data-24000="opacity:1;"
		data-24200="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-5 col-lg-4 col-lg-offset-6"
				  data-18600="opacity:0;position:fixed;left:0;top:50%;"
				  data-19400="opacity:1;"
				  data-19800="opacity:1;"
				  data-20200="opacity:0;"
				>
				<p>"In 24 years of skiing I haven’t ridden a better pair of skis. They do everything I want and need them to do. The most fun I've ever had on snow.”</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-6"
				  data-20200="opacity:0;position:fixed;left:0;top:50%;"
				  data-20600="opacity:1;"
				  data-21400="opacity:1;"
				  data-21800="opacity:0;"
				>
				<p>“It's floating on snow. The best pow day of your life.”</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-7"
				  data-21800="opacity:0;position:fixed;left:0;top:50%;"
				  data-22200="opacity:1;"
				  data-22800="opacity:1;"
				  data-23000="opacity:0;"
				>
				<p>“BlackOps is made by skiers, for skiers.”</p>

				<h3 style="text-align:right;"
						data-22600="opacity:0;"
						data-22800="opacity:1;"
						data-23800="opacity:1;"
						data-24000="opacity:0;"
						>&mdash; C. Logan</h3>
				</div>
			</div>
		</div>
	</section>



<section id="blackops-movie-1" style="background-color:#000000;"
	data-24900="opacity:0;position:fixed;left:0;top:15%;display:block;z-index:11001;"
	data-24950="opacity:1;"
	data-26950="opacity:1;"
	data-28000="opacity:0;display:none;z-index:11000"
>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/232362579?color=00efe3&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/232362579">The Big Picture | Lite Years</a> from <a href="https://vimeo.com/user1671591">The Big Picture</a> on <a href="https://vimeo.com">Vimeo</a>.</p>



		
		</div>
	</div>
</div>

</section>

<section id="blackops-movie-2" style="background-color:#000000;"
	data-28000="opacity:0;position:fixed;left:0;top:15%;display:block;z-index:11000;"
	data-29000="opacity:1;z-index:11001;"
	data-31500="opacity:1;"
	data-32000="opacity:0;display:none;"
>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 embed-responsive embed-responsive-16by9">
			<iframe src="https://player.vimeo.com/video/237955047?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/237955047">Welcome to BlackOps</a> from <a href="https://vimeo.com/user1671591">The Big Picture</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
	</div>
</div>

</section>

<section id="blackops-instagram" style="background-color:#000000;"
	data-32100="opacity:0;position:fixed;left:0;top:15%;display:none;"
	data-32150="opacity:1;display:block;"
	data-33000="opactiy:1;"
	
>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 embed-responsive embed-responsive-16by9">
				<h2 class="text-center">#rossignolblackops</h2>
		<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/c209caf553215604b4689e513190818d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
		</div>
		
	</div>
</div>









<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>
