<div id="info">0</div>
<%#= render '/refinery/content_page' %>

<div id="skroll-container">
	<section id="welcome-to-blackops"
		data-500="position:fixed;"
		data-1000="position:relative;"
	></section>
	<section id="blackops-118"
		data-0="opacity:0;"
		data-1000="opacity:1;"
	></section>
	<section id="blackops-98-1"></section>
	<section id="blackops-98-2"></section>
	<section id="blackops-98-3"></section>
	<section id="blackops-spin"></section>
	<section id="blackops-collection"></section>
	<section id="blackops-video"></section>
	<section id="blackops-instagram"></section>
	<section id="blackops-footer"></section>

</div>




<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>
