<div id="info">0</div>
<%#= render '/refinery/content_page' %>



	<section id="welcome-to-blackops" class="flex-container"
		data-300="opacity:1;position:fixed;top:0;left:0;"
		data-500="opacity:0;"
	>
		<div class="welcome-text text-center">
			<img src="../assets/BO_gifbuild_v2.gif" class="img-responsive" />
			<small class="">SCROLL TO NAVIGATE</small>
			<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
		</div>
	</section>

 	<section id="athlete-driven"
		data-300="position:fixed;left:0;top:-100px;opacity:0;"
		data-800="opacity:1;"
		data-1450="opacity:1;"
		data-1600="opacity:0;"
	> 
		<div class="container"

		>

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center"
					data-1000="opacity:0"
					data-1100="opacity:1;position:fixed;top:25%;left:0%;"
					data-1450=""
					data-1600="opacity:0;"
				>
					<h2>Athlete Driven</h2>
			     <p class="lead">The need exists for skis that blur the dimensions of freeride and freestyle and push the boundaries of what’s possible on snow. This is pure athlete-driven development based on the needs of our most progressive and hard-charging riders. No release date. Limited distribution. Constructions and designs that shmear the line between playful, progressive, and full send mode. You may have heard of it. You may have seen it. But this is not for everyone. This is BlackOps.</p>
				</div>
			</div>
		</div>
	</section>



	<section id="blackops-118-1"
		data-2200="position:fixed;left:0;top:0;opacity:0;"
		data-2400="opacity:1;"
		data-3600="opacity:1;"
		data-4000="opacity:0;"

	>
	</section>

	<section id="blackops-118-2"
	  data-2400="position:fixed;left:0;top:0;opacity:0;"
	  data-2600="opacity:1;"
	  data-3800="opacity:1;"
	  data-4000="opacity:0;"
	>	
	</section>

	<section id="blackops-118-3"
	  data-2600="position:fixed;left:0;top:0;opacity:0;"
	  data-3000="opacity:1;"
	  data-3600="opacity:1;"
	  data-4000="opacity:0;"
	>	
		<div class=="container-fluid">
			<div class="row">
				<div id="text-118" class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
          data-3000="position:fixed;left:0;opacity:0;"
          data-3200="opacity:1;"
          data-3600="opacity:1;"
          data-4000="opacity:0;"
				>
					<h2>118</h2>
		     <p>Three years of validation under the feet of P-White and C-Logan. Now available for public consumption. This is the full send mode tool-of-choice for backcountry booters or big mountain terrain. The ski that stays solid when all others call it quits. You can’t mash big ass drops on anything less. Stomp and smear. Float and bounce. Solid when needed. Playful all the time. Available in rawdawg OG proto graphic. For now.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="blackops-98-1"
	  data-4000="position:fixed;left:0;top:0;opacity:0;"
	  data-4200="opacity:1;"
	  data-4600="100vh;opacity:1"
	  data-5000="0vh;opacity:0"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
				data-4100="position:fixed;left:0;top:35%;opacity:0;"
				data-4300="opacity:1;"
				data-4800="opacity:1;"
				data-5000="opacity:0;"

				>
					<h2>SUPER TOP SECRET.</h2> 
					<p>Located in the shadow of the Wasatch Mountains in downtown SLC, UT, the cutting edge design crew at Super Top Secret have been collaborating with Park and Darhk to bring the boys’ unique graphic vision to life on snow.</p></div>
			</div>
		</div>
	</section>

	<section id="blackops-98-2"
		data-4600="position:fixed;left:0;top:0;opacity:0;"
		data-5000="opacity:1;"
		data-5600="opacity:1;"
		data-6000="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
				data-5200="position:fixed;left:0;top:45%;opacity:0;"
				data-5600="opacity:1;"
				
				data-6000="opacity:0;"
				>
					<p>Low key.</p> 
				</div>
			</div>
		</div>

	</section>


	<section id="blackops-98-3"
    data-5600="position:fixed;left:0;top:0;opacity:0;"
    data-6000="100vh;opacity:1"
    data-7600="opacity:1;"
    data-8000="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
					data-6200="position:fixed;left:0;top:45%;opacity:0;"
					data-6600="opacity:1;"
					data-7000="opacity:0;"
				>
					<p>Layered.</p> 
				</div>
			</div>
		</div>
	</section>

	<section id="blackops-98-4"
		data-7600="position:fixed;left:0;top:0;opacity:0;"
		data-8000="opacity:1;"
		data-8600="opacity:1;"
		data-9000="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
			<div class="col-xs-7 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-4"
			data-8000="opacity:0;position:fixed;left:0;top:49%;"
			data-8200="opacity:1;"
			data-8500="opacity:1;"
			data-9000="opacity:0;"

			>
					<p>Like a dark forest psilocybin trip. We didn’t want anything too flashy – this is BlackOps.”  
					</p>
				</div>
			</div>
		</div>
	</section>



	<section id="blackops-98-5"
		data-8600="position:fixed;left:0;top:0;opacity:0;"
		data-9000="opacity:1;"
		data-9600="opacity:1;"
		data-10000="opacity:0;"
	>

	<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"
					data-9200="opacity:0;position:fixed;left:0;top:52%;"
					data-9600="opacity:1;"
					data-9800="opacity:1;"
					data-10000="opacity:0;"

				>
					<h2 class="text-center">98</h2>
<p class="text-center">The perfect platform. A progressive all-mountain gunner. Available in extremely limited quantities for 2018, this is a highly-functioning sociopath of a ski that morphs into whatever you need it to be. Stomp and smear. Arc and carve. Boost and blast. Grease your ‘stache. This is the full send mode do-it-all ski for the likes of C-Logan, P-White, and JPV. A legit quiver-killing weapon of one. Just step in and give ‘er hell.</p>
				</div>
				
			</div>
		</div>
	
	


	</section>









	<section id="blackops-collection-1"
		data-10000="position:fixed;left:0;top:0;opacity:0;"
		data-10300="opacity:1;"
		data-13000="opacity:1;"
		data-13200="opacity:0;"
	></section>
	
	<section id="blackops-collection-2"
		data-11000="position:fixed;left:0;top:0;opacity:0;"
		data-11300="opacity:1;"
		data-13000="opacity:1;"
		data-13200="opacity:0;"
	></section>
	
	<section id="blackops-collection-3"
		data-12000="position:fixed;left:0;top:0;opacity:0;"
		data-12300="opacity:1;"
		data-13000="opacity:1;"
		data-13200="opacity:0;"
	></section>
<!--
	<section id="parker-white-quote-1"
		data-10000="position:fixed;left:0;top:0;opacity:0;"
		data-10400="opacity:1;"
		data-12800="opacity:1;"
		data-13200="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4"
				  data-10400="opacity:0;position:fixed;left:0;top:50%;"
				  data-11100="opacity:1;"
				  data-11400="opacity:0;"
				>
					<p>The Blackops is a ski designed to make skiing everything from resort chop to deep backcountry pow way easier and way more fun.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4"
				  data-11400="opacity:0;position:fixed;left:0;top:50%;"
				  data-11800="opacity:1;"
				  data-12800="opacity:1;"
				  data-13000="opacity:0;"
				>
					<p>When I'm riding the Blackops It feels strong, like I can stomp and smash just as easily as float and bounce.  Like I can really go anywhere and do whatever I want on them.</p>

					<h3 style="text-align:right;"
						data-12400="opacity:0;"
						data-12800="opacity:1;"
						data-13000="opacity:0;"
						>&mdash; Parker White</h3>
				</div>
			</div>
		</div>
	</section>

	<section id="chris-logan-quote-1"
		data-13000="position:fixed;left:0;top:0;opacity:0;"
		data-13400="opacity:1;"
		data-17000="opacity:1;"
		data-17200="opacity:0;"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-5"
					data-13600="opacity:0;position:fixed;left:0;top:50%;"
				  data-14400="opacity:1;"
				  data-14800="opacity:1;"
				  data-15200="opacity:0;"
				>
				<p>I haven't ridden a better pair of skis ever in my 24 years of skiing. They do everything I want and need them to do. Solid when I need them to be and playful all the time. I mount a pair in the early season and they last me the entire year. Solid as fuck.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-5"
					data-15200="opacity:0;position:fixed;left:0;top:50%;"
				  data-15600="opacity:1;"
				  data-16400="opacity:1;"
				  data-16800="opacity:0;"
				>
				<p>blackops is made by the skier and for the skier. It's floating on snow. The best pow day of your life. The most fun I've ever had on snow.</p>

				<h3 style="text-align:right;"
						data-16000="opacity:0;"
						data-16600="opacity:1;"
						data-17000="opacity:0;"
						>&mdash; Chris Logan</h3>
				</div>
			</div>
		</div>
	</section>

<section id="blackops-movie" style="background-color:#000000;"
	data-16900="opacity:0;position:fixed;left:0;top:15%;display:block;"
	data-16950="opacity:1;"
	data-18950="opacity:1;"
	data-19000="opacity:0;display:none;"
>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 embed-responsive embed-responsive-16by9">
		<iframe src="https://player.vimeo.com/video/224581562?portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p><a href="https://vimeo.com/224581562">Lite Years - Official Trailer</a> from <a href="https://vimeo.com/user1671591">The Big Picture</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
	</div>
</div>

</section>

<section id="blackops-instagram" style="background-color:#000000;"
	data-19000="opacity:0;position:fixed;left:0;top:15%;display:none;"
	data-19050="opacity:1;display:block;"
	
>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 embed-responsive embed-responsive-16by9">
				<h2 class="text-center">#rossignolblackops</h2>
		<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/c209caf553215604b4689e513190818d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
		</div>
		
	</div>
</div>


-->








<script>
var s = skrollr.init({
	render: function(data) {
	  //Log the current scroll position.
	  $('#info').text(data.curTop);
	}
});
</script>
