


<div class="container">
	<div class="row">
		<div class="col-md-12" id="store">
			<%= render '/refinery/content_page' %>	
			
<script type="text/javascript" src="https://hovercart.quivers.com/?Marketplace=10c0da35-94bd-4a07-ae2b-bf7cf9aed7d6" async="true"></script>
	
		</div>
	</div>
</div>

