<div class="container">
	<div class="row">
		<div class="col-md-12" id="store">
			<%= render '/refinery/content_page' %>	
			
<script type="text/javascript" src="https://hovercart.quivers.com/?Marketplace=1b10e572-c4d3-45e0-b6cf-bfca09550534" async="true"></script>
	
		</div>
	</div>
</div>