html, body {
	background-color:#000000;
	color:rgba(255,255,255,.8);
	height:20000px;
}

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999;
}

h1, h2, p {
	color:rgba(255,255,255,.7);
}

	h2 {
		font-size:64px;
		font-weight: 900;
	}
	p {
		font-size:20px;
	}

section {
	height:100vh;
	position:relative;
}

#welcome-to-blackops {
	background-color:blue;
	height:100vh;

}

.flex-container {
	display:flex;
	justify-content: center;
	align-items: center;
	/*https://codepen.io/tutsplus/pen/vKovJy*/
}

.welcome-text {
	h1 {font-size:24px;}
	small {display:block;margin-top:3.5em;}
}

#athlete-driven {
	img {
		width:140%;
	}
}

#blackops-118-1 {
	position:relative;
	background-image:url('../assets/Blackops-118-1.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;

}

#blackops-118-2 {
	position:relative;
	background-image:url('../assets/Blackops-118-2.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-118-3 {
	position:relative;
	background-image:url('../assets/Blackops-118-3.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-text {
	position:relative;
	background-color:transparent;
	
	h2 {
		font-size:64px;
		font-weight: 900;
	}
	p {
		font-size:20px;
	}
}

#blackops-98-1 {
	position:relative;
	background-image:url('../assets/PAGE_3.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-98-2 {
	position:relative;
	background-image:url('../assets/PAGE_5.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}



#blackops-98-3 {
	position:fixed;
	background-image:url('../assets/PAGE_6.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-collection-1 {
	position:fixed;
	background-image:url('../assets/Blackops-collection-1.png');
	background-size:cover;
	height:50%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-collection-2 {
	position:fixed;
	background-image:url('../assets/Blackops-collection-2.png');
	background-size:cover;
	height:50%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-collection-3 {
	position:fixed;
	background-image:url('../assets/Blackops-collection-3.png');
	background-size:cover;
	height:50%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#parker-white-quote-1 {
	position:fixed;
	background-image:url('../assets/blackops-parker-white-quote.jpg');
	background-size:cover;
	height:100%;
	width:100%;
	background-repeat: no-repeat;
	background-position:44% 50%;

}

#chris-logan-quote-1 {
	position:fixed;
	background-image:url('../assets/blackops-chris-logan-quote.jpg');
	background-size:cover;
	height:100%;
	width:100%;
	background-repeat: no-repeat;
	background-position:70% 50%;

}





#blackops-video {
	background-color:white;
}

#blackops-instagram {
	background-color:orange;
}

#blackops-footer {
	background-color:pink;
}