$blackops-font:'Montserrat', sans-serif;

html, body {
	background-color:#000000;
	color:rgba(255,255,255,.8);
	height:20000px;
}

#skrollr-body {
    float: left;
    width: 100%;
    height: 100%;
    border:1px solid red;
}

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999;
}

h1, h2, p {
	color:rgba(255,255,255,.7);
	font-family:$blackops-font;
}

	h2 {
		font-size:64px;
		font-weight: 700;
		font-family:$blackops-font;
	}
	p {
		font-size:20px;
		font-weight:400;
		font-family:$blackops-font;
	}

section {
	height:100vh;
	position:relative;
}

#welcome-to-blackops {
	position:fixed;
	background-color:#000000;
	height:100vh;

}

.flex-container {
	display:flex;
	justify-content: center;
	align-items: center;
	/*https://codepen.io/tutsplus/pen/vKovJy*/
}

.welcome-text {
	h1 {font-size:24px;}
	small {display:block;margin-top:3.5em;}
}

#athlete-driven {
	position:relative;
	background-image:url('../assets/PAGE_2sm.jpg');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
	img {
		width:140%;
	}
	h2 {
		font-size:32px;
	}
}

#blackops-118-1 {
	position:relative;
	background-image:url('../assets/Blackops-118-1.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;

}

#blackops-118-2 {
	position:relative;
	background-image:url('../assets/Blackops-118-2.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-118-3 {
	position:relative;
	background-image:url('../assets/Blackops-118-3.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
	#text-118 {
		top:15%;
		p {
			font-size:14px;
		}
	}

}

#blackops-text {
	position:relative;
	top:30%;
	background-color:transparent;
	
	h2 {
		font-size:32px;
		font-weight: 900;
	}
	p {
		font-size:14px;
	}
}

#blackops-98-1 {
	position:relative;
	background-image:url('../assets/PAGE_3.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-98-2 {
	position:relative;
	background-image:url('../assets/PAGE_5.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}



#blackops-98-3 {
	position:fixed;
	background-image:url('../assets/PAGE_6.png');
	background-size:cover;
	height:100vh;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-collection-1 {
	position:fixed;
	background-image:url('../assets/Blackops-collection-1.png');
	background-size:cover;
	height:50%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-collection-2 {
	position:fixed;
	background-image:url('../assets/Blackops-collection-2.png');
	background-size:cover;
	height:50%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#blackops-collection-3 {
	position:fixed;
	background-image:url('../assets/Blackops-collection-3.jpg');
	background-size:cover;
	height:50%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 50%;
}

#parker-white-quote-1 {
	position:fixed;
	background-image:url('../assets/blackops-parker-white-quote.jpg');
	background-size:cover;
	height:100%;
	width:100%;
	background-repeat: no-repeat;
	background-position:44% 50%;

}

#chris-logan-quote-1 {
	position:fixed;
	background-image:url('../assets/blackops-chris-logan-quote.jpg');
	background-size:cover;
	height:100%;
	width:100%;
	background-repeat: no-repeat;
	background-position:70% 50%;

}


#blackops-movie {
background-color:black;
margin-top:17000px;
height:100vh;
background-image:url('../assets/blackops-video.jpg');
background-size:cover;

}

#blackops-instagram {
	position:normal;
	background-color:#000000;
	/*background-image:url('../assets/blackops-video.jpg');*/
	background-size:cover;
	height:100%;
	width:100%;
	background-repeat: no-repeat;
	background-position:50% 70%;
	z-index:1000;
}

#blackops-footer {
	background-color:pink;
}