html, body {
	background-color:#000000;
	color:rgba(255,255,255,.8);
	height:20000px;
}

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999;
}

section {
	height:100vh;
	position:relative;
	top:0;
	left:0;

	background-attachment:fixed;
}

#welcome-to-blackops {
	background-color:blue;
	z-index:100;
}


#blackops-118 {
	background-color:green;
	z-index:90;
}

#blackops-98-1 {
	background-color:purple;
	z-index:80;
}
#blackops-98-2 {
	background-color:yellow;
}

#blackops-98-3 {
	background-color:red;
}

#blackops-spin {
	background-color:gray;
}
#blackops-collection {
	background-color: black;
}

#blackops-video {
	background-color:white;
}

#blackops-instagram {
	background-color:orange;
}

#blackops-footer {
	background-color:pink;
}