/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#media-query-flag {background-color:red;}
	#media-query-flag:after {content: 'Small - 768px';}
	.welcome-text {
		h1 {font-size:30px;}
	}
	#blackops-collection-1, #blackops-collection-2, #blackops-collection-3 {
		height:80vh;
	}
	#parker-white-quote-1 {
		background-position:50% 50%;
	}

	#chris-logan-quote-1 {
		background-position: 90% 50%;
	}

	#blackops-118-3 {
		#text-118 {
			top:30%;
			p {
				font-size:20px;
			}
		}
	}

	#blackops-text {
		top:52%;
	h2 {font-size:64px;}
	p {font-size:20px;}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#media-query-flag {background-color:blue;}
	#media-query-flag:after {content: 'Medium - 992px';}
	#blackops-collection-1, #blackops-collection-2, #blackops-collection-3 {
		height:100vh;
	}

	#blackops-text {
		top:52%;
	h2 {font-size:64px;}
	p {font-size:20px;}
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#media-query-flag {background-color:green;}
	#media-query-flag:after {content: 'Large - 1200px';}
}